.d {
  cursor: pointer;
  min-height: fit-content;
  background: transparent;
  text-align: center;
  height: 100%;
  width: 100%;
  text-wrap: nowrap;
  width: max-content;
  word-wrap: none;
  padding: 0.5rem;
}
